.sign-up, .login{
    text-align: center;
}
.sign-up h1, .login h1{
    margin-top: 50px;
    margin-bottom: 80px;
    color: rgb(10, 76, 174);   
}
.auth-toggle-link{
    color: rgb(10, 76, 174);   
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}